@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 20em;
    background-color: #000;
    padding: 1em;
    border-radius: 1em;
}

.input-box input {
    background: transparent;
    outline: none;
    border: none;
    text-align: end;
    color: #777777;
    font-size: 1.5em;
    width: 100%;
    margin-top: 2em;
}

.input-box h3 {
    font-size: 3em;
    text-align: end;
    color: #fff;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons button {
    cursor: pointer;
    width: 4.8em;
    height: 4.8em;
    font-weight: bold;
    background-color: #383838;
    color: #fff;
    border: none;
    outline: none;
    border-radius: .5em;
    margin: .5em 0;
}

.colored-button {
    background-color: #0bb430 !important;
}